@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=M+PLUS+Rounded+1c:wght@500;700;900&display=swap');


* { 
    margin: 0; 
    padding: 0; 
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(80, 30, 16, 1) 56%, rgba(145, 56, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, footer .blocks .logo {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background: #501E10;
    border-radius: 10px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #913800;
}

header nav ul li.btn a {
    background: #913800;
    padding: 9px 17px;
    border-radius: 10px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #501E10;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 570px;
    padding-top: 70px;
}


.hero--info h1 {
    font-weight: 900;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-films .info .btn, .hero-films2 .info2 .btn, .hero-films3 .info3 .btn, .hero-films4 .info4 .btn, .hero-films5 .info5 .btn {
    background: #000000;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover, .hero-films .info .btn:hover, .hero-films2 .info2 .btn:hover, .hero-films3 .info3 .btn:hover, .hero-films4 .info4 .btn:hover, .hero-films5 .info5 .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 30px;
    border-radius: 50px;
    right: 0;
}

.films {
    padding-top: 100px;
}

.films h3 {
    font-weight: 600;
    font-size: 30px;
}

.films .see-all {
    color: #fff;
    background: #913800;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.films .see-all:hover {
    transform: scale(1.1);
}

.films .films {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    clear: both;
}

.films .films p {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #000;
    font-weight: 900;
}

.hero-films {
    position: relative;
}

.hero-films .info {
    width: 500px;
    padding: 50px 0;
}

.hero-films .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-films .info .btn {
    margin-top: 20px;
}

.hero-films img {
    position: absolute;
    right: 250px;
    top: 0;
}

.hero-films2 {
    position: relative;
}

.hero-films2 .info2 {
    width: 500px;
    padding: 50px 0;
}

.hero-films2 .info2 h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-films2 .info2 .btn {
    margin-top: 20px;
}

.hero-films2 img {
    position: absolute;
    right: 250px;
    top: 20px;
}

.hero-films3 {
    position: relative;
}

.hero-films3 .info3 {
    width: 500px;
    padding: 50px 0;
}

.hero-films3 .info3 h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-films3 .info3 .btn {
    margin-top: 20px;
}

.hero-films3 img {
    position: absolute;
    right: 250px;
    top: 125px;
}

.hero-films4 {
    position: relative;
}

.hero-films4 .info4 {
    width: 500px;
    padding: 50px 0;
}

.hero-films4 .info4 h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-films4 .info4 .btn {
    margin-top: 20px;
}

.hero-films4 img {
    position: absolute;
    right: 250px;
    top: 10px;
}

.hero-films5 {
    position: relative;
}

.hero-films5 .info5 {
    width: 500px;
    padding: 50px 0;
}

.hero-films5 .info5 h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-films5 .info5 .btn {
    margin-top: 20px;
}

.hero-films5 img {
    position: absolute;
    right: 250px;
    top: 30px;
}

footer {
    background: #000000;
    padding: 30px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer hr {
    margin: 30px 0;
}

footer > p {
    text-align: center;
} 

#cl {
  background-color: #ffffff;
}

